<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>Flash Template</title>
	    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/my_stylesheet.css')}}">
	    <script type="text/javascript" src='{{ url_for('static', filename='js/my_script.js') }}'></script>
		<!-- linking an image -->
		<!-- <img type="text/javascript" src='{{ url_for('static', filename='images/quadraphenia.jpg') }}'> -->
	</head>

	<body>
		<div id="test">
			<h1>Test</h1>
			<BODY onload=alert(today)>
		</div>
		<div id="main">
		    <h3> flask template with embedded python</h3>
		    <p> My Phrase is {{phrase}}</p>
		    <p> Number of times is {{times}}</p>
		    {% for x in range(0,times): %}
		    <p> {{phrase}}</p>
		    {% endfor %}
		    <h3> my addition</h3> {% for bob in range(0,times): %}
		    <h5> {{phrase}} {{name}}</h5> {% endfor %}
		</div>
	</body>

</html>